<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="robots" content="all">

<title>{{ .Title }} {{if ne .Title .Site.Title}} &middot; {{ .Site.Title }} {{ end }}</title>
<meta name="author" content="{{ .Site.Author.name }}">
{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

{{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=latin,latin-ext">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,700,300&subset=latin,latin-ext">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/agate.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
<link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} {{if ne .Title .Site.Title}} &middot; {{ .Site.Title }} {{ end }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}" />
<meta name="twitter:title" content="{{ .Title }} {{if ne .Title .Site.Title}} &middot; {{ .Site.Title }} {{ end }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />