<!-- jquery.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $.get("http://cors-anywhere.herokuapp.com/https://medium.com/feed/@aosmialowski", function (data) {
        $(data).find("item").slice(0,10).each(function (i, el) {
            var el = $(this),
                title = el.find('title').text(),
                link = el.find('link').text(),
                date = new Date(el.find("pubDate").text()),
                dateFormatted = date.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"});

            $(".site-archive").append('<li><a href="' + link + '" title="' + title + '">' + title + '</a><time>' + dateFormatted + '</time></li>');
        });
    });
</script>

<!-- highlight.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Twitter widgets.js-->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}