<ol class="site-share">
    <li><a target="_blank" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i></a></li>
    <li><a target="_blank" href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }} &#8211; {{ .Site.Title }}&via={{ .Site.Params.social.twitter }}"><i class="fa fa-twitter"></i></a></li>
    <li><a target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}"><i class="fa fa-google-plus"></i></a></li>
    <li><a target="_blank" href="http://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }} &#8211; {{ .Site.Title }}"><i class="fa fa-linkedin"></i></a></li>
</ol>