{{ define "main" }}
<div class="post">
    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <div class="meta">
                <span class="author">by {{ .Site.Author.name }}</span>
                <span class="separator">/</span>
                <time>{{ .Date.Format "Jan 02, 2006" }}</time>
            </div>

            {{ partial "share.html" . }}
        </header>

        <div class="article-content">
            {{ .Content }}
        </div>
    </article>

    <div class="post-nav">
        {{ if .NextInSection }}
            <div class="left">
                <a class="button" href="{{ .NextInSection.Permalink }}">Previous post</a>
            </div>
        {{ end }}

        {{ if .PrevInSection }}
            <div class="right">
                <a class="button" href="{{ .PrevInSection.Permalink }}">Next post</a>
            </div>
        {{ end }}
    </div>
</div>

{{ template "_internal/disqus.html" . }}

{{ end }}